.main {
    background-color: rgb(18, 18, 18);
    min-height: 100vh;
    height: fit-content;
    color: white;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {    
    overflow-y: scroll;    
    display: flex;
    width: 100%;
    height: fit-content;
    height: 100vh;
    min-height: 50%;
    flex-direction: column;
}

.row {
    display: flex;
    width: 95%; 
    justify-content: center;
    padding: 15px;
}

.rowGap {
    display: flex;
}

.box { 
    display: flex;    
    margin-top: 10px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    justify-content: space-evenly;
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    color: black;
    min-height: 40px;
    font-size: 16px;
}

.box div {
    color: white;
    padding: 8px;

}


.grid {
    padding-top: 30px;
    padding: 30px;
    height: 80vh;
    padding-bottom: 85px;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    color: black;
    place-items: center;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.line {
    width: 100%;
    height: .5px;
    background-color: white;
}
.songTitle{
    font-size: 15px;
    width: 300px;
}

.rowSong {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 10px;
}

.rowSong:hover {
    transition: .15s all ease-in-out;
    border-radius: 5px;
    background-color: rgb(79, 79, 79);
}


.title {
    font-size: 38px;
    display: flex;
    letter-spacing: 1.5px;
}
.titleSmall {
    font-size: 15px;    
    letter-spacing: 1.5px;
}
.songTitleSmall {
    font-size: 20px;
    display: flex;
    font-weight: 400;
    width: 150px;
    letter-spacing: 1.5px;
}
.songTitle {
    font-size: 30px;
    display: flex;
    font-weight: 600;
    width: 700px;
    letter-spacing: 1.5px;
}
.songTitleLarge {
    font-size: 60px;
    display: flex;
    font-weight: 600;
    width: 700px;
    letter-spacing: 1.5px;
}
.logout{
    font-size: 20px;
    background-color: gray;
    border-radius: 15px;
    padding: 8px;
}

.logoutContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.topRow {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    align-items: center;
}

.button {
    background-color: white;
    padding: 5px;
    color: black;
    border-radius: 5px;
}
.album{
    width: 250px;
}
.miniTitle {
    font-size: 12px;
    color: rgb(188, 188, 188);
}
.even{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 91%;
    padding-left: 20px;
}

.column {
    height: 50px;
    padding-left: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    flex-direction: column;

}

.searchInput {
    display: flex;
    width: 90%;
    justify-content: flex-start;

}

.songContainer {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    transition: all .3s ease-in-out;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.flexClear {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    transition: all .3s ease-in-out;
    opacity: .99;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.flex:hover {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.hidden {
    opacity: .5;
}

.container {
    display: flex;
    justify-content: center;
}
.center{
    width: 60vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 400px;
    height: 50px;
    padding-left: 30px;
    font-size: 15px;
    color: rgb(232, 231, 231);
    outline: 1px solid rgb(250, 250, 250);
    background-color: rgb(36, 36, 36);
    border-radius: 30px;
}

.input::placeholder {}