.queue{
    width: 40%;
    min-height: 88vh;
    height: 88vh;
    background-color: rgb(18, 18, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.songTitleSmall {
    font-size: 14px;
    display: flex;
    font-weight: 400;
    width: fit-content;
    letter-spacing: 1.5px;
}
.hidden{
    display: none;
}
.miniTitle {
    font-size: 12px;
    color: rgb(188, 188, 188);
}
.queueButton{
    color: white;
    background-color: rgb(86, 86, 86);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;
    transition: all ease-in-out .2s;    
}
.queueButtonO{
    color: white;
    background-color: rgb(86, 86, 86);
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;
    transition: all ease-in-out .2s;    
}
.queueButtonO:disabled{
    opacity: .5;
}

.queueButton:hover{
    background-color: rgb(180, 179, 179);
}
.flex{
    display: flex;
    align-items: center;
    width: 100%;
}
.logout{
    font-size: 20px;
    background-color: gray;
    border-radius: 15px;
    padding: 8px;
}
.queueContainer{    
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.linkContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    padding-top: 20px;
}
.input{
    width: 90%;
    max-width: 400px;
    height: 45px;
    padding-left: 20px;
    font-size: 14px;
    color: rgb(232, 231, 231);
    outline: 1px solid rgba(250, 250, 250, 0.2);
    background-color: rgb(36,36,36);
    border-radius: 25px;
    margin: 15px 0;
}
.link{
    display: flex;    
    align-items: center;    
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    color: rgb(229, 228, 228);
    height: 40px;
}

.link:hover{
    color: white;
    cursor: pointer;
}
.center{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.playContainer{
    display: flex;
    opacity: .9;
    background-color: #292929;
    justify-content: space-between;
    width: 100vw;
    padding: 5px;
}
